<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cloudpay8001.mapper.PaymentMapper">
    <!--映射对象  -->
    <resultMap type="com.example.cloudaipcommons.entity.Payment" id="BaseResultMap" >
        <id column="id" property="paymentId" jdbcType="BIGINT"/>
        <result	column="serial" property="paymentSerial" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="addPayment" useGeneratedKeys="true" keyColumn="id">
        insert into payment(serial) value(#{payment.serial});
    </insert>

    <select id="findAll" resultMap="BaseResultMap" >
		select id,serial from payment;
	</select>
</mapper>